[2014-02-27 21:43] ProLoser opened #1 "Initial version"
Hey @subhaze I'm not sure if you've checked out atom.io at all or have any interest in it, but if you do let me know and I'll send you an invite so we can claim the angularjs package for it!

[2014-03-15 20:01] ProLoser opened #4 "Remove semicolons from end of autocompletions/snippets"
I think overall it would be better to allow the user to continue chaining and have them add the semicolon themselves. In addition, coffeescript does not need the semicolon.

[2014-03-16 10:23] outsideris opened #5 "Any suggestion for snippets's prefix name"
firstly, Atom is not support multiple prefixes(see http://discuss.atom.io/t/multiple-snippets-key/2297)  and prefixes started with special characters.(see https://github.com/atom/snippets/pull/16) (or I don't know the way)

I use `ngm` or `ngma` as prefix.(you can see [here](https://github.com/outsideris/AngularJS-Atom/blob/ee1eb8af26ef6a4c9644c89cb576a6a90d7fee81/snippets/js-templates.cson)) I ge

[2014-03-31 02:25] outsideris opened #7 "release v0.0.4"
How about do you think v0.0.4?
There are pretty changes after merging [atom-angularjs](https://github.com/outsideris/atom-angularjs).
So I didn't release new version. I'm not sure we have consensus about snippet, auto-completes, etc...
but we need to release new version if there isn't any suggestion about that.

[2014-04-21 04:08] ProLoser opened #9 "Add ="" to directive autocomplete"
Not sure why you settled with just `ng-click`, instead you should have the autocomplete do `ng-click=""` and place the cursor between the quotes.

[2014-05-03 09:32] #9 closed, assigned to nobody

[2014-05-03 10:18] #7 closed, assigned to nobody

[2014-06-04 03:15] finder39 opened #12 "Autocomplete doesn't work while writing jade"
Also have this package installed: https://atom.io/packages/language-jade

[2014-06-13 06:23] tyrw opened #13 "Add syntax highlighting to Angular elements"
It would be great if `ng-*` flags were highlighted with a different color in the HTML, that way it would be doubly-easy to scan the doc and see what's going on.

[2014-06-19 08:08] asaji opened #14 "Autocomplete without keypress"
Hi,

Great plugin! I love it so far, just had a question about it though. Is there any way to have angularjs-atom autocomplete without having to press ctrl+space? I was hoping for behavior similar to an IDE where it is automatic. If not, are there plans to implement this?

Thanks

[2014-08-05 19:36] JacobASeverson opened #15 "HTML snippets not working"
For Atom 0.120.0 and AnularJS-Atom 0.0.4, javascript snippets are working as expected, but all HTML snippets aren't. Nothing happens when HTML prefix + tab is entered.

[2014-08-14 18:20] lightswitch05 opened #16 "It's Alive message hides tabs"
The `It's ALIVE!` message covers tabs and stays displayed the entire time the package is enabled. While the message is cute, it completely negates any benefits of using this plugin.
## Blocking 4 of my 7 open tabs

![image](https://cloud.githubusercontent.com/assets/598803/3924552/7b03cf60-23de-11e4-9715-edba742dfa02.png)
## Tested In

I've verified this bug on both `Windows 7` & `Windows 8`. I'm

[2014-09-08 10:00] #15 closed, assigned to outsideris

[2014-09-08 10:05] #4 closed, assigned to nobody

[2014-09-08 10:05] #16 closed, assigned to outsideris

[2014-09-08 10:27] #1 closed, assigned to nobody

[2014-09-21 00:28] ilanbiala opened #17 "Specs don't pass"
Just like the title says, version 0.0.5 doesn't pass the specs test suite.

[2014-10-10 11:31] #17 closed, assigned to outsideris

[2014-10-31 16:48] colllin opened #18 "Syntax Highlighting would be amazing."
In fact, if this package did only one thing, that would probably be the most useful.  I don't care about highlighting `ng-if`, etc.  What I want is the angular expressions to be highlighted as if they were javascript.  So recognizing `ng-if` and then highlighting the expression inside the quotes according to JS syntax.  Same with anything inside double curly brackets `{{highlighted in here}}`

[2014-12-30 18:00] #13 closed, assigned to outsideris

[2015-01-01 11:07] #14 closed

[2015-01-01 18:49] #18 closed

[2015-02-02 15:51] urecio opened #19 "Overrides emmet"
Hi, since I've installed this plugin, emmet tab autocompletion no longer works on HTML (Angular) files. It still works with ctrl+e.

[2015-02-08 15:38] outsideris commented on #19
I didn't know that. I will check it.

[2015-02-09 06:17] willdady opened #20 "ng-options not colored"
ng-options is not colored like other angular attributes (like ng-model) on select inputs.

[2015-02-10 03:26] outsideris commented on #20
Thank you for reporting.

[2015-03-30 14:35] stramel opened #21 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

**Atom:** 0.189.0-edd46e4

[2015-03-30 14:35] stramel opened #22 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

**Atom:** 0.189.0-edd46e4

[2015-03-30 18:24] outsideris commented on #21
Thank you for reporting. I will check it.

[2015-03-30 18:24] outsideris commented on #22
Thank you for reporting. I will check it.

[2015-03-31 03:57] outsideris opened #23 "add keywords into package.json"
http://blog.atom.io/2015/03/30/keywords-on-atom-io.html

[2015-04-01 16:24] #23 closed

[2015-04-02 18:13] bkerickson opened #24 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-04-06 16:31] outsideris commented on #21
It's fixed in @716739a

[2015-04-06 16:31] #21 closed

[2015-04-06 16:32] outsideris commented on #22
It already fixed in @716739a

[2015-04-06 16:32] #22 closed

[2015-04-06 16:32] outsideris commented on #24
duplicated with #21

[2015-04-06 16:32] #24 closed

[2015-04-08 15:53] #20 closed

[2015-04-08 22:35] robertbaker opened #25 "use Autocomplete-plus"

[2015-04-08 22:36] robertbaker opened #26 "Provide angular semantic highlighting."
Currently atom does not properly highlight ```"{{scope.myvar}}"```, it highlights everything the string color.
And inside ng attributes
[code]
WebStorm handles angular highlighting nicely.

[2015-04-16 14:44] stramel opened #27 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

Atom Version: 0.193.0-356bb7c

[2015-04-16 14:45] stramel opened #28 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]
Atom Version: 0.193.0-356bb7c

[2015-04-16 15:05] outsideris commented on #27
duplicated with #21
@stramel why did you report it again?

[2015-04-16 15:05] #27 closed

[2015-04-16 15:06] outsideris commented on #28
duplicated with #22
@stramel why did you report it again?

[2015-04-16 15:06] #28 closed

[2015-04-16 18:15] stramel commented on #27
@outsideris Sorry! Did you push a new release with those changes?

[2015-04-19 10:45] outsideris commented on #26
![2015-04-19 19 42 32](https://cloud.githubusercontent.com/assets/390146/7219124/607b3a3c-e6cc-11e4-8075-4056d460d22b.png)

Now, syntax highlighting for expressions looks like above.
Did you use document type as "HTML(Angular)"

[2015-04-19 10:50] outsideris commented on #25
I guess Autocomplete-plus use completions in this package automatically.

If we implement `provider` of autocomplete-plus, we can provide autocomplete depend on context very nicely.
But It looks like pretty complex. So, I will try to implement `provider, but it takes some time.

[2015-04-19 18:38] robertbaker commented on #26
No doctype is just HTML when ng-app in body. I have partial templates with
no doctype defined.

On Sun, Apr 19, 2015, 3:45 AM JeongHoon Byun (aka Outsider) <
notifications@github.com> wrote:

[2015-04-20 02:45] outsideris commented on #26
![2015-04-20 11 43 43](https://cloud.githubusercontent.com/assets/390146/7222884/91896640-e752-11e4-98dc-7db97cd4fc49.png)

I means Atom's document type, not HTML doctype. See right of bottom in above screenshot.
HTML is default for `.html`. So, this package support `HTML (Angular)`.

[2015-04-25 10:29] nileshmali opened #29 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-04-25 10:30] nileshmali opened #30 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-04-26 19:23] peterblazejewicz commented on #29
This is already reported and fixed I think:
https://github.com/angular-ui/AngularJS-Atom/issues/21
Please consider closing as dup, thanks!

[2015-04-26 19:26] peterblazejewicz commented on #30
This is already reported and fixed I think:
https://github.com/angular-ui/AngularJS-Atom/issues/22
Please consider closing as dup, thanks!

[2015-04-27 03:30] #29 closed

[2015-04-27 03:31] #30 closed

[2015-05-07 18:42] charlynet7 opened #31 "Package.loadSettings is deprecated."
Hi,
I'm getting this warning.
I'm using the version 1.0, I don't know why it doesn't allow me to install the v.2.0.
I'm using the last version of Atom ( v.0.197.0 ).

Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-05-07 18:42] charlynet7 opened #32 "Package.getStylesheetsPath is deprecated."
Hi,
I'm getting this warning.
I'm using the version 1.0, I don't know why it doesn't allow me to install the v.2.0.
I'm using the last version of Atom ( v.0.197.0 ).

Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-05-07 19:12] faridlinein opened #33 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-05-14 03:45] outsideris commented on #31
Deprecated APIs is fixed.
But, I don't know why users use 0.1.x instead 0.2.0 and I'm not sure it is caused by Atom or this package.

[2015-05-14 03:46] outsideris commented on #32
duplicated #31

[2015-05-14 03:46] #32 closed

[2015-05-14 03:47] outsideris commented on #33
duplicated #31

[2015-05-14 03:47] #33 closed

[2015-05-14 18:15] mrenfinger opened #34 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-05-14 18:16] mrenfinger opened #35 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-05-14 23:59] ilanbiala commented on #25
+1

[2015-05-15 23:28] charlynet7 commented on #31
Hi,
This is with Atom 0.199.0
This is a very fresh new install (I deleted all the .atom folder on the users folders, so all the packages data with it)

![image](https://cloud.githubusercontent.com/assets/4017756/7663448/510f5346-fb1f-11e4-8de2-3a08091af0bb.png)

[2015-05-19 00:39] smlombardi opened #36 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-05-19 00:39] smlombardi opened #37 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-05-19 22:14] zoiodev opened #38 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `angularjs` package
[code]

[2015-05-20 18:10] joshuajabbour commented on #36
Duplicate of #34

[2015-05-20 18:10] joshuajabbour commented on #38
Duplicate of #34 & #36

[2015-05-20 18:14] joshuajabbour commented on #34
Fixed in `0.2.0`. Not sure why automatic upgrade isn't working, but it can be upgraded manually with `apm install angularjs@0.2.0`.

[2015-05-20 18:14] joshuajabbour commented on #31
Not sure why automatic upgrade isn't working, but it can be upgraded manually with `apm install angularjs@0.2.0`.

[2015-05-20 18:15] joshuajabbour commented on #35
Duplicate of #31

[2015-05-20 18:15] joshuajabbour commented on #37
Duplicate of #31

[2015-05-21 00:44] seronal commented on #34
I think this had to with this property in package.json:
[code]

">=0.174.0, <2.0.0" does not seem to be a valid range, so the following was returning false
[code]

I just created a PR to fix this.

[2015-05-22 03:27] outsideris commented on #31
I expect It fixed in #39 . I will publish new version.

[2015-05-22 03:27] #31 closed

[2015-05-22 03:29] #38 closed

[2015-05-22 03:29] #37 closed

[2015-05-22 03:29] #36 closed

[2015-05-22 03:29] #35 closed

[2015-05-22 03:29] outsideris commented on #34
I expect It fixed in #39 . I will publish new version.

[2015-05-22 19:35] #34 closed

[2015-05-23 22:03] mplno commented on #19
I attempted a work-around with [this](https://github.com/emmetio/emmet-atom#tab-key) addition to Atom's `keymap.cson`, but still could not get the tab completion to work on the HTML (Angular) syntax.

If anyone finds a fix within the Emmet config (or patches this bug), definitely report back. I (and probably many others) love using tab completion.

[2015-05-26 09:48] PranavOFS opened #40 "Uncaught TypeError: Cannot read property 'focusScope' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.201.0
**System**: Microsoft Windows 7 Professional
**Thrown From**: [angularjs](https://github.com/angular-ui/AngularJS-Atom) package, v0.3.0

### Stack Trace

Uncaught TypeError: Cannot read property 'focusScope' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-26 12:44] lpommers commented on #19
i'm experiencing this same issue

[2015-05-26 23:47] benogle opened #41 "Deprecated Atom APIs will be removed June 1st"
Atom will no longer load this package after June 1st without changes. There is one deprecation on the latest version (`0.3.0`) of this package:

1. Use Workspace::onDidAddTextEditor instead

Visit https://gist.github.com/benogle/6d09e295c84b717ef9b4 and search for your package name to see up-to-date deprecations.

If this package has been replaced by another package or functionality in core, pleas

[2015-05-27 18:21] outsideris commented on #41
@benogle In my Atom(0.201), I can't see such kind of the deprecation warning and didn't understand what that mean.

But Atom show "styles/angularjs.less
Style elements within text editors using the atom-text-editor::shadow selector or the .atom-text-editor.less file extension. If you want to target overlay elements, target them directly or as descendants of atom-overlay elements." deprecation warn

[2015-05-28 02:18] benogle commented on #41
Super sorry about this. It was a false positive.

You can fix the styles via this guide: https://atom.io/docs/latest/upgrading-to-1-0-apis-upgrading-your-ui-theme-or-package-selectors

[2015-05-28 02:18] #41 closed

[2015-05-28 02:34] outsideris commented on #41
@benogle Thanks you for providing the guide.
So, `onDidAddTextEditor` is same warning with `atom-text-editor::shadow`?

[2015-05-28 02:51] benogle commented on #41
No it's not the same. You can disregard the message in this thread.

On Wednesday, May 27, 2015, JeongHoon Byun (aka Outsider) <
notifications@github.com> wrote:

[2015-06-04 18:05] outsideris commented on #40
I can't reproduce it. Could you please provide more detail about your situation?

[2015-06-05 15:24] petecoop commented on #19
Open keymap, add this:

[code]

[2015-06-05 16:21] mplno commented on #19
Thanks @petecoop. That worked. I didn't have the data-grammar part right when I tried this before.

This seems like the right solution, so probably worth closing this issue.

[2015-06-30 22:02] smlombardi opened #42 "Syntax highlighting is not consistent"
Why does the new syntax hghlighting for Angular JS (especially as attributes) work in some places but not others?

See below:

![3422375190fbd762d327577c6eca67a1a657b990_690x204](https://cloud.githubusercontent.com/assets/835148/8443130/12e634c0-1f52-11e5-9000-d182f9892d98.png)

The top-most ng-click scopes as:
![45a800e2687a6d1a2801a41162c2865ab6fc90c8](https://cloud.githubusercontent.com/assets/

[2015-07-06 16:20] outsideris commented on #42
That's weird. I will check it.

[2015-07-29 19:47] #42 closed

[2015-08-05 21:21] ggallo commented on #25
+1

[2015-08-06 11:28] ilanbiala commented on #25
@outsideris just to follow up, any progress on this?

[2015-08-06 14:30] erickrawczyk opened #43 "ng-src parses protocol relative links as comments"
Found on Atom 1.0.4 with AngularJS-Atom v0.3.0 on Mac OSX 10.10.3. Replicated on another machine with same specs and install.

When set to `HTML (Angular)` and using protocol relative links with `ng-src` (e.g. `//path/to/src` instead of `http://path/to/src`), the path is parsed incorrectly and interpreted as a comment, which flubs the rest of the file and prevents tab autocompletes.

![image](http

[2015-08-10 11:56] outsideris commented on #25
@ilanbiala
I was pretty busy. I am going to try implement for supporting autocomplete-plus this month, but implementing its provider is pretty hard.

[2015-08-10 11:59] outsideris commented on #43
I will try to debug it. Thank you for reporting.

[2015-08-25 14:26] QuentinFchx commented on #19
I ran into the same issue, thanks for the fix.
cc @sergeche which is a contributor of the emmet plugin, just in case someone report the issue on the https://github.com/emmetio/emmet-atom repository.

[2015-08-25 15:51] outsideris commented on #19
@QuentinFchx  :+1:
I didn't forget to close it.

[2015-08-25 15:51] #19 closed

[2015-09-22 13:55] feimosi opened #44 "Syntax highlighting doesn't work with data- attributes"
It'd be nice if the syntax highlighting worked with attributes prefixed with `data-`.

[2015-09-24 12:31] feimosi commented on #44
Also it doesn't highlight every needed directive e.g ng-required, ng-class or ng-show. I'd really appreciate it if you could add support for these.

[2015-10-07 16:52] KellyTeresa commented on #26
I was just trying to figure this out myself. Thanks! I didn't think to check the Atom doctype.

[2015-10-07 22:41] outsideris commented on #26
@KellyTeresa Good!

[2015-10-07 22:41] #26 closed

[2015-10-10 07:04] #43 closed

[2015-10-12 18:05] offsky opened #45 "Can't indent with tab key"
When I have this package installed, I cannot use the tab key on a new line to indent.  When I disable the package I can indent again. When I run the Key Binding Resolver (command+.) I see the following:
![emmet](https://cloud.githubusercontent.com/assets/1110926/10434888/27842e84-70d1-11e5-8d1c-7925b16ca42a.png)

This started with the 0.3.2 release

[2015-10-12 18:37] outsideris commented on #45
Thank you for reporting.
It introduced in #19 . I will check again.

[2015-10-12 21:11] offsky commented on #45
I don't have Emmet installed, if that helps

[2015-10-13 01:33] outsideris commented on #45
@offsky It's good infomation.

[2015-10-13 11:31] herrherrmann commented on #45
Same goes for me. No Emmet installed, can't use tab anymore with angularjs package activated.

[2015-10-14 02:17] SHDavies commented on #45
I also have the same problem. It only seems to happen on HTML(Angular) files. JS files seem to work fine.

[2015-10-14 04:11] outsideris commented on #45
I rollback it in @4012a0d . It was my fault.
Please check it again in v0.3.3.

[2015-10-14 04:11] #45 closed

[2015-10-14 09:27] feimosi commented on #44
Hi, thanks for resolving the issue, but after the update all the directives' content lost JS specific highlighting - the whole code is of one color as below:
![angular](https://cloud.githubusercontent.com/assets/5721520/10479728/5545cd14-7266-11e5-84aa-6f15c77d0654.JPG)
![angularsyntax](https://cloud.githubusercontent.com/assets/5721520/10479695/1acb53d4-7266-11e5-8e6c-6d7e55c93e2c.JPG)
Also someh

[2015-10-14 14:35] herrherrmann commented on #45
Thanks, working again now with 0.3.3. :+1:

[2015-10-15 01:59] outsideris commented on #45
@herrherrmann Thank you for feedback.

[2015-10-15 02:31] outsideris commented on #44
Thank you for reporting. I'd appreciate if you reopen the issue next time you get the issue again.
I could miss the issue if it is closed.

[2015-10-15 08:42] feimosi commented on #44
I exactly wanted to do so, but couldn't find the Reopen option. It looks like I don't have a permission to that unless I close the issue myself.

[2015-10-15 09:06] outsideris commented on #44
Oops! I didn't know that. Sorry about that. :)

[2015-10-15 09:11] feimosi commented on #44
No problem :)

[2015-10-31 18:39] gpascualg opened #47 "Uncaught TypeError: this.textEditor.displayBuffer.getMaxScrollTop is not a function"
**Atom Version**: 1.1.0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [angularjs](https://github.com/angular-ui/AngularJS-Atom) package, v0.3.3

### Stack Trace

Uncaught TypeError: this.textEditor.displayBuffer.getMaxScrollTop is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-31 18:49] gpascualg commented on #47
Seems to be caused by minimap, closing, sorry!

[2015-10-31 18:49] #47 closed

[2015-11-03 04:13] outsideris commented on #47
No problem!

[2015-12-06 19:18] masando opened #48 "html snippets not working"
html snippets not working. I use Atom on Debian 8 64bits

[2015-12-07 00:08] henns20 opened #49 "Regarding div element generating a class attribute"
Question:  When generating Div element it automatically generates a class attribute.  Is this  angular ui package doing this? If so is there a way I can modified so it does not generate a class attribute?

Started using angular ui package.

 Notice when I started using it.  When generating Div element it automatically generates a class attribute.
 I looked through the code but couldn't figure out

[2015-12-08 01:34] outsideris commented on #48
I don't have a debian machine. Can you provide more clue?

[2015-12-08 01:40] outsideris commented on #49
@henns20 How did you generate div element?

[2015-12-08 02:09] henns20 commented on #49
Used the tab key.
Nevermind sorry - I just disabled it and tried it again and seems to be  an
emmet property.

 There is something conflicting in my set up [unset  tab  with emmet, etc],
but at this point really the answer to my question is that the source of
the dividend class a your is not from this project seemingly to me.

 sorry thanks

On Mon, Dec 7, 2015 at 8:40 PM, JeongHoon Byun (aka Outs

[2015-12-08 02:52] henns20 commented on #49
Update: language-html package was the issue

conflict was with language-html package

That was the 1 those creating the tag  that I was having the issue with

On Mon, Dec 7, 2015 at 9:09 PM, Jamie Hennelly <jjhennelly@gmail.com> wrote:

[2015-12-24 02:49] outsideris opened #50 "re-consider syntax highlight"
related with https://github.com/simurai/duotone-light-syntax/issues/4

[2016-01-07 12:30] outsideris commented on #49
@henns20 I saw your feedback too lately. Thank you for your feedback.

[2016-01-07 12:30] #49 closed

[2016-01-12 15:03] hesselbearda commented on #12
:+1: Kuddo if you get it done by end of 01.2016 :)

[2016-02-04 17:17] aendrew opened #54 "Grammar detection is too loose"
Howdy!
First off, many thanks for the plugin, I find it really helpful when I'm building Angular apps. :+1:

Secondly, alas, this week I'm working on a Polymer project, which is effectively nothing but HTML files. AngularJS-Atom's auto-detection is detecting all of my files as Angular, which is problematic for particularly style modules (wherein the entire file is just one style tag and some HTML

[2016-02-04 17:33] aendrew commented on #54
Update: I've read a bit more about Atom grammars, and it seems that grammars are only detected by file extension and `firstLineMatch`. Doesn't help either that `language-html` uses [the doctype](https://github.com/atom/language-html/blob/master/grammars/html.cson#L12) for `firstLineMatch`, thus ensuring no template file or HTML import will ever benefit from its syntax highlighting... :-1: Any idea

[2016-02-05 12:33] outsideris commented on #54
As you said, it is how auto detection works in Atom. I didn't use `firstLineMatch` because angular-template files don't include the doctype.

You can change grammar at right-bottom of Atom editor without disabling AngularJS-Atom.

<img width="273" alt="2016-02-05 21 29 46" src="https://cloud.githubusercontent.com/assets/390146/12846392/b27b4e12-cc4f-11e5-944d-ad095f555162.png">

I don't have any i

[2016-02-05 14:03] aendrew commented on #54
Cool, figured as much. Bit of a shame Atom doesn't provide better routes for detecting grammars.

Closing for now, then. :smile:

[2016-02-05 14:03] #54 closed

[2016-02-06 15:24] outsideris commented on #54
Good!!

[2016-02-15 21:54] thomasmeadows opened #56 "APM Install angularjs-atom not working"
what is the command for the atom package manager? is this not published on it? its not on the readme.

[2016-02-19 11:00] outsideris commented on #56
use `apm install angularjs`.
The name is in [package.json](https://github.com/angular-ui/AngularJS-Atom/blob/master/package.json#L2).

[2016-02-19 11:00] #56 closed

[2016-02-22 08:04] livelazily opened #58 "ng-model-options not colored correctly"
The `-options` part not colored

![screen shot 2016-02-22 at 16 03 49](https://cloud.githubusercontent.com/assets/449935/13212666/e805c5e0-d97d-11e5-87d8-82ff42dfadc4.png)

[2016-02-23 16:38] prezmo commented on #58
There's a little bug in regexp string in file grammars/angularjs.cson in the package. You can easily correct it yourself :). Replace line line 147 with:
`'messages|message|model-options|model|mousedown|mouseenter|mouseleave|mousemove|mouseover|mouseup|' +`
Similar problem with switch-when and switch-default in line 152 you can replace it with: `'selected|show|src|srcset|style|strict-di|submit|swit

[2016-04-20 22:43] ponyesteves commented on #12
Hello, are you planning to add support to jade?

[2016-04-30 20:37] houmark commented on #12
I would also like to see Jade support :)

[2016-05-12 20:23] Gabrielmtn commented on #58
awesome fix! I added it, would recommend for a PR

[2016-05-28 10:34] #58 closed

[2016-06-13 12:53] #50 closed

[2016-06-16 22:06] sebfindling opened #61 "Adding "" simbols on autocomplete?"
When I used Sublime the Angular plugin autocompleted with the ="" simbols, so you would type `<div ngi` and picking the "ng-if" suggestion would insert `<div ng-if=""` and move the cursor between the `""`

Is there a chance to add this to the plugin?

[2016-06-20 22:07] kioannou opened #62 "Inconsistent syntax highlighting"
atom v1.8.0 (package: angualrjs v0.3.4)
I noticed inconsistencies in angular highlighting in angular's {{}} markup. There are three different cases in this HTML and they are highlighted differently
![screen shot 2016-06-21 at 00 52 07](https://cloud.githubusercontent.com/assets/9555848/16211804/85c2aa4c-374c-11e6-8fd4-331d9bf6f559.png)

[2016-07-14 07:22] MiloFeng commented on #19
Thanks @petecoop.

[2016-07-27 13:30] outsideris commented on #61
Good Idea. I guess it needs autocomplete-plus( #25 ). I will try to support it.

[2016-07-27 13:33] outsideris commented on #62
I use built-in language-javascript to highlight javascript code in angular expression.

<img width="273" alt="2016-07-27 22 32 10" src="https://cloud.githubusercontent.com/assets/390146/17176957/fa4a3640-5449-11e6-8e4a-9c0d591027f7.png">

language-javascript highlight the code like same. I'm not sure whether implementing it as own is better or not.

[2016-07-28 09:47] kioannou commented on #62
I see. I just found this weird and i thought it was good idea to report it.

[2016-08-03 16:45] sebdelvalle commented on #61
any news on this?

[2016-09-02 12:26] dryaner opened #63 "don't highlight JavaScript outside html tag"
When you use partials normally don't have a complete html structure, sometimes the JavaScript is not included in other html tags. I have an example here.

![html-angular](https://cloud.githubusercontent.com/assets/4254685/18203687/7dc27e02-70e6-11e6-8a78-bc6fab0b0e3d.png)
 script it's NOT highlight correctly.

![html-angular-2](https://cloud.githubusercontent.com/assets/4254685/18203708/9ef4ef42-7

[2016-10-03 02:25] RaccoonFive opened #64 "Syntax highlighting looks weird with scope variable that are objects"
![capture](https://cloud.githubusercontent.com/assets/10904560/19026053/0bbd74b2-88ef-11e6-98ea-b5efcc56cb17.PNG)

[2016-10-03 02:34] RaccoonFive commented on #64
I'm closing this since I just saw there's already an issue about this!

[2016-10-03 02:34] #64 closed

[2016-10-03 02:37] RaccoonFive commented on #62
I have the same issue but with the attribute called "title" ex: (post.title)

[2016-11-10 21:51] vidakovic opened #65 "Deprecated selector in `angularjs/styles/angularjs.less`"
In `angularjs/styles/angularjs.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors

[2016-12-14 11:24] AdriVanHoudt opened #67 "Syntax does not get tagged on custom HTML elements"
See the md-input-container vs input
![](https://puu.sh/sP911/906aa17ae4.png)

[2017-01-12 08:15] IbeVanmeenen commented on #65
See pull-request #66

[2017-01-20 17:36] criduvero opened #69 "Syntax highlighting is causing conflict with themes"
For example with Ramda-syntax. I know it's too much to ask, but... can you please make other package with no syntax highlighting?. I would be very grateful, I really really love this package, I use it daily.
![34183edc-dcab-11e6-9462-de15cb2b7264](https://cloud.githubusercontent.com/assets/13077575/22158942/a1033b60-df0c-11e6-8af3-ef5b7a75a374.PNG)

[2017-01-25 10:59] RenaldasK opened #70 "Deprecated selector in `angularjs\styles\angularjs.less`"
In `angularjs\styles\angularjs.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors

[2017-01-25 21:57] edarblanco opened #71 "Deprecated selector in `angularjs/styles/angularjs.less`"
In `angularjs/styles/angularjs.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors

[2017-02-01 03:35] tp00012x commented on #71
Starting from Atom v1.13.0, the contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using :host and ::shadow pseudo-selectors, and prepend all your syntax selectors with syntax--. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

atom-text-editor .entity.name.tag.block.any.

[2017-02-03 15:28] fitoflos opened #72 "Failed to load the angularjs package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.13.1
**Electron Version**: 1.3.13
**System**: Unknown Windows Version
**Thrown From**: [angularjs](https://github.com/angular-ui/AngularJS-Atom) package, v0.3.5

### Stack Trace

Failed to load the angularjs package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-02-04 07:02] othpiik commented on #71
angularjs/styles/angularjs.less
Starting from Atom v1.13.0, the contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using :host and ::shadow pseudo-selectors, and prepend all your syntax selectors with syntax--. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

atom-text-ed

[2017-02-04 13:13] outsideris commented on #71
It fixed in #68

[2017-02-04 13:13] #71 closed

[2017-02-04 13:13] outsideris commented on #70
It fixed in #68 .

[2017-02-04 13:13] #70 closed

[2017-02-04 13:14] outsideris commented on #65
It fixed in #68

[2017-02-04 13:14] #65 closed

[2017-02-15 11:43] abtx opened #73 "autocomplete and suggestions don't work"
They just don't work.. I can't find what the issue is.

[2017-02-15 11:45] #73 closed

[2017-02-17 00:49] tehnools opened #74 "Bug: Syntax Hilighting, snippets Not working"
Syntax Highlighting and snippets not working.

I tried uninstalling and reinstalling.

Non Core packages:
angularjs
emmet
terminal-plus
mini-map
atom-boostrap3

Latest version of atom
angular-cli: 1.0.0-beta.28.3
node: 7.4.0
os: linux ia32
@angular/common: 2.4.7
@angular/compiler: 2.4.7
@angular/core: 2.4.7
@angular/forms: 2.4.7
@angular/http: 2.4.7
@angular/platform-browser: 2.4.7
@angular/platfo

[2017-02-20 16:16] outsideris commented on #74
Are you using Angualr 2? This is supporting version 1 only.

[2017-03-15 02:21] FlappyHeart commented on #25
Hi @outsideris , any progress on this?

[2017-03-28 14:51] xuetham opened #75 "Failed to activate the angularjs package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [angularjs](https://github.com/angular-ui/AngularJS-Atom) package 0.4.0

### Stack Trace

Failed to activate the angularjs package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-12 06:35] rahulgupta20nov opened #76 "Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements."
In styles/angularjs.less: Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.
If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements.

[2017-05-01 15:11] Nokel81 commented on #13
Would this help?

[code]
I added this to my styles.less file. I know that the colour is based on my current theme but the css name should be able to be used

[2017-06-29 03:17] Nokel81 opened #77 "ng-true-value and ng-false-value not highlighting correctly"

[2017-10-07 08:54] shuxiayehu opened #78 "atom使用AngularJS插件时,atom-html-preview用不了."
项目需要用Angular.js.就在atom中安装了AngularJS插件,安装后代码可以智能提示,但atom-html-preview插件打不开.停止AngularJS插件，atom-html-preview插件就可以打开。打开有不能。

[2017-11-03 09:09] danedavid opened #79 "snippet for $timeout"
There is no snippet for `$timeout` function of angular, and thus when we type '$tim...' the suggestion comes from the JavaScript suggestions, leading to entering a wrong snippet `$setTimeout(...)`

[2017-11-09 10:02] mradulkumarfliplearn opened #80 "Not showing autocomplete"
when i type ng-.. it doesn't show auto complete.
Please suggest some steps to solve it.

[2017-11-24 14:32] maxsoe opened #81 "Autocomplete doesn't work for me :("
I'm not sure what the cause is, but Autocomplete doesn't work anymore. It used to.

The snippets are working fine.

[2017-11-24 14:33] maxsoe commented on #80
Same problem here https://github.com/angular-ui/AngularJS-Atom/issues/81

[2017-11-30 10:13] zlatkovtv commented on #81
Same for me.  Snippets work fine but no autocomplete.

[2017-12-02 14:19] #25 closed

[2017-12-02 14:19] #80 closed

[2017-12-02 14:19] #81 closed

[2017-12-02 17:13] Ardeshir81 opened #82 "Uncaught TypeError: Cannot read property 'toLowerCase' of undefined"
HI! I just opened atom and saw an update is available to abgularJS package. I updated it. I restarted atom . and on (almost) every change to file, I get an error toaster:

![screenshot from 2017-12-02 20-39-44](https://user-images.githubusercontent.com/5755214/33517899-5eae6620-d7a1-11e7-8af4-bf96edf5e041.png)

Forget about the syntatic mistakes in screenshot. the errors and toasters appear even i

[2017-12-02 17:38] rivermartinez commented on #82
I have the same error on Ubuntu 17.10

[2017-12-03 07:20] #82 closed

[2017-12-03 07:24] outsideris commented on #82
I just released v0.5.1. Please check it out.

[2017-12-05 22:13] Ardeshir81 commented on #82
Just updated. Everything's Fine now ! 👍

[2017-12-07 11:46] tiagomsmagalhaes opened #83 "Autocompletion box opens everytime"
On javascript file, after every character it appears suggestions from your plugin which is counter productive working like that. Even with a space triggers the box with all the suggestions

[2017-12-08 09:06] outsideris commented on #83
I didn't realize that. I have an idea why that happened.I will check it.

[2017-12-10 03:51] mofashi1951 opened #84 "AngularJS-Atom conflicts with Autocomplete Css lead to css Fragment tips invalid"
Shìguò hěnduō cìle qǐdòng AngularJS-Atom hòu css bǔchōng jiù shīxiàole
Tried many times to start the AngularJS-Atom css supplement fails

[2017-12-17 10:13] outsideris commented on #84
Could you explain more details?

[2017-12-20 21:11] Autalyst commented on #83
I am getting this too, but mostly with commas. Every time I have a comma it tries to autocomplete and then I end up with a lot of garbage because I'm trying to put in a new line.

[2018-01-02 15:03] FrEaKmAn commented on #83
Yes, same problem here. Super annoying

[2018-01-03 14:42] Sparksx commented on #83
Same problem

[2018-01-03 20:31] gmanriqueUy commented on #83
Same here!

[2018-01-05 14:43] outsideris commented on #83
I just released [v0.5.2](https://github.com/angular-ui/AngularJS-Atom/releases/tag/v0.5.2).
Please check it again.

[2018-01-05 14:48] Sparksx commented on #83
Fixed for me in v0.5.2

Thanks @outsideris

[2018-01-05 15:03] tiagomsmagalhaes commented on #83
@outsideris updated the plugin and still appears everytime

[2018-01-05 15:07] Autalyst commented on #83
It appears to be resolved for me in v0.5.2

[2018-01-05 17:05] outsideris commented on #83
@tiagomsmagalhaes Could you explain more details? Others said it is fixed. OS or Atom versions?

[2018-01-05 17:18] tiagomsmagalhaes commented on #83
@outsideris comma doesn't trigger suggestions but spacebar does.

Windows 10
Atom 1.23.2 x64

**Package list from apm:**
angularjs@0.5.2
atom-clock@0.1.15
atom-live-server@2.2.0
atom-typescript@11.0.10
autocomplete-angular-material@0.4.0
busy-signal@1.4.3
editorconfig@2.2.2
emmet@2.4.3
file-icons@2.1.15
git-clone@0.2.0
git-plus@7.10.0
intentions@1.1.5
linter@2.2.0
linter-ui-default@1.6.10
multi-cu

[2018-01-05 17:30] outsideris commented on #83
@tiagomsmagalhaes I got it. Thank you.

[2018-01-09 11:52] dierol commented on #83
Works fine in v0.5.2.
Thanks for this fix! It was an ungodly annoying behavior.

[2018-01-16 14:49] #79 closed

[2018-01-16 15:10] tiagomsmagalhaes commented on #83
@outsideris  Updated to 0.5.3 Still happens...

Use cases:

- Entering space after a semicolon
- Opening parenthesis with cursor after parenthesis and before any word
- Entering space After the opening curly bracket (e.g. the bracket opening a function)
- Entering space after opening square brackets
- Entering dot everywhere (Not sure when is supposed to show if it's supposed to show)

[2018-01-16 15:16] Sparksx commented on #83
You should hide it with "non word characters" (look at: atom > preference > editor)
by default it's set to: /\()"':,.;<>~!@#$%^&*|+=[]{}`?-…
suggestion have no sense after these characters, except after dot?

[2018-01-16 15:29] tiagomsmagalhaes commented on #83
@Sparksx you replied to me or @outsideris?

Either way, I have that default non word characters with the default set. But that only works on html (angular) files. on js files the use cases i listed occurs.

[2018-01-16 15:31] Sparksx commented on #83
I replied to @outsideris

I've same problem that you @tiagomsmagalhaes

[2018-01-17 14:14] outsideris commented on #83
hmm Now I just checking characters but I should determine with context.
I will dig it.

[2018-03-21 14:05] developerndm opened #85 "expression {{..}} is not visually working correctly with safe navigation operator "?""
I am using as a safe navigation operator (?) to "protect" template until HTTP call is completed this stops an error message if the variable i.name is === undefined. This is a minor annoyance.

Error message if ? not used: "TypeError: Cannot read property 'name' of undefined"

Reason for request:
Visually Atom looks like the code is not encased after "?".

Error: None

Code: `<div *ngFor="let i of

[2018-04-02 13:33] kuroshhashemi opened #86 "How to Enable in .html.haml"
Hi, pardon if this is an obvious question but I'm still new to coding.  Why isn't AngularJS-Atom working in my .html.haml project files?  Thanks

[2018-05-22 14:52] outsideris commented on #86
Because it supports HTML nows. See [here](https://github.com/angular-ui/AngularJS-Atom/blob/ec722417fa6c4bd8b18fdc7a04b4fb30f14064b7/grammars/angularjs.cson#L11).
It should add new grammar to support HAML.

[2018-05-22 14:52] #86 closed, assigned to nobody

[2018-05-26 03:31] stanwmusic commented on #82
1.27.1 x64 I just purged and reinstalled newest version and it is  still happening on  Ubuntu 14.04 when I edit an HTML  button's text. :
I'm not worried about it, just letting you know in case it is useful. :-)

 /home/stan/.atom/packages/angularjs/lib/provider.coffee:127
Hide Stack Trace
TypeError: Cannot read property 'toLowerCase' of undefined
    at firstCharsEqual (/home/stan/.atom/packages/

[2018-05-26 11:39] stanwmusic commented on #82
![uncaught](https://user-images.githubusercontent.com/6845544/40575709-f83778a0-60b7-11e8-82ec-00227b03a43d.jpg)

[2018-08-12 02:41] stanwmusic commented on #82
It just happened again after I just started newly installed Atom-beta and opened a website to edit.
![atom_errors-1](https://user-images.githubusercontent.com/6845544/43997925-9ecf1600-9db7-11e8-84c4-84499cd68652.jpg)

[2018-08-23 20:25] demianbarry opened #87 "Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements."
In styles/angularjs.less: Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.
If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements.

[2019-01-23 21:44] JaspervanSanten opened #88 "$sceDelegate unwanted autocomplete"
Hi,

I am working on Node/Angular and while typing in my node app.js in get an autocomplete suggestion for $sceDelegate every time i close with a ; followed by a return. (which i do a lot)

How do i avoid this behavior?

Jasper
![screenshot from 2019-01-23 22-43-25](https://user-images.githubusercontent.com/16766666/51639077-5a129700-1f60-11e9-9202-70fe5e2e0457.png)